* {
    margin: 0;
}
html{
    scroll-behavior: smooth;

}

body {

    background-color: #030918;
}

p {
    pointer-events: none;
}

@media (min-width: 300px) and (max-width: 450px) {
    .name {
        left: 6rem !important;
        top: 9rem !important;
        font-size: 1.5rem !important;
    }

    .circle {
        height: 6% !important;
        width: 14% !important;
    }

    nav {
        justify-content: flex-start !important;
        left: 0 !important;
    }

    .animated-ghost {
        top: 17rem !important;
        height: 5rem !important;
        width: 5rem !important;
    }

    /*.social>ul{*/
    /*    left: 0 !important;*/
    /*}*/
    .social {
        left: 2rem !important;
        width: 15rem !important;
        top: 22rem !important;
        height: 2rem !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        grid-template-columns: repeat(1, 18rem) !important;
        top: 3rem !important;
    }

    .moon {
        height: 27rem !important;
        width: 26rem !important;
        left: 0 !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {

        font-size: 2rem !important;
        transform: translate(2rem, 0) !important;
    }

    li {
        font-size: .6rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 60vh !important;
    }

    .para {
        left: 2rem !important;
    }

    .text1 {
        top: 6rem !important;
        font-size: .8rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 11rem !important;
        line-height: 1rem !important;
        top: 12rem !important;
        font-size: .5rem !important;
    }

    #about-me {
        height: 108vh !important;
    }

    #about-me > a {
        font-size: 2rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 17rem !important;
        line-height: .7rem !important;
        top: 12rem !important;
        font-size: .35rem !important;
    }

    .about-me {
        height: 55% !important;
        flex-direction: column;
        top: 7% !important;
    }

    .about-me img {
        height: 50% !important;
    }

    .technologies {
        bottom: 20% !important;
    }

    .technologies > a {
        font-size: 1rem !important;
    }

    #astro {
        top: 50% !important;
        left: -50% !important;
        height: 5% !important;
    }

    #animated-ufo {
        top: 53% !important;
        left: 290% !important;
    }

    #planet-2 {

        top: 75% !important;
        height: 2% !important;
    }

    #planet-3 {
        top: 65% !important;
        height: 2% !important;
    }

    #planet {
        height: 50% !important;
    }

    #contact-me {
        height: 65vh !important;
    }

    form {
        left: 6% !important;
    }

    /*#planet>img{*/
    /*    height: 50% !important;*/
    /*}*/
}

@media (min-width: 451px) and (max-width: 600px) {
    .name {
        top: 11.5rem !important;
        font-size: 2.2rem !important;
    }

    .text1 {
        top: 9rem !important;
        font-size: 1rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 90% !important;
        line-height: 1.4rem !important;
        top: 16rem !important;
        font-size: .7rem !important;
    }

    .circle {
        height: 9% !important;
        width: 14% !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        top: 5rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 2rem !important;
        transform: translate(2rem, 0rem) !important;
    }

    .nav-bar-ul li {
        font-size: .9rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 80vh !important;
    }

    .para {
        left: 2rem !important;
    }

    .social {
        left: 2rem !important;
        width: 17rem !important;
        top: 22rem !important;
        height: 2rem !important;
    }

    .animated-ghost {
        top: 27rem !important;
        height: 7rem !important;
        width: 7rem !important;
    }

    .moon {
        height: 31rem !important;
        width: 30rem !important;
        left: 0 !important;
    }

    #about-me {
        height: 108vh !important;
    }

    #about-me > a {
        font-size: 3rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 17rem !important;
        line-height: 1rem !important;
        top: 12rem !important;
        font-size: .5rem !important;
    }

    .about-me {
        left: 6% !important;
        height: 55% !important;
        flex-direction: row;
        top: 17% !important;
    }

    .about-me img {
        height: 80% !important;
    }

    .technologies {
        left: 6% !important;
        bottom: 10% !important;
    }

    .technologies > a {
        font-size: 1rem !important;
    }

    #astro {
        top: 52% !important;
        left: -50% !important;
        height: 8% !important;
    }

    #animated-ufo {
        top: 53% !important;
        left: 200% !important;
    }

    #planet-2 {

        top: 75% !important;
        height: 5% !important;
    }

    #planet-3 {
        top: 65% !important;
        height: 4% !important;
    }

    #planet {
        height: 52% !important;
    }

    #contact-me {
        height: 65vh !important;
    }

    form {
        left: 8% !important;
    }

    /*#planet>img{*/
    /*    height: 50% !important;*/
    /*}*/

}

@media (min-width: 601px) and (max-width: 750px) {
    .name {
        width: 90% !important;
        top: 11.5rem !important;
        font-size: 4rem !important;
    }

    .text1 {
        top: 9rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 75% !important;
        line-height: 1.4rem !important;
        top: 17rem !important;
        font-size: .8rem !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 3rem !important;
        transform: translate(2rem, 0rem) !important;
    }

    .nav-bar-ul li {
        font-size: .9rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 80vh !important;
    }

    #projects {
        height: 220vh !important;
    }

    .para {
        left: 2rem !important;
    }

    .circle {
        height: 10% !important;
        width: 10% !important;
    }

    .social {
        left: 2rem !important;
        width: 17rem !important;
        top: 23rem !important;
        height: 2rem !important;
    }

    .animated-ghost {
        top: 27rem !important;
        height: 7rem !important;
        width: 7rem !important;
    }

    .moon {
        height: 31rem !important;
        width: 30rem !important;
        left: 0 !important;
    }

    #about-me {
        height: 108vh !important;
    }

    #about-me > a {
        font-size: 3rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 25rem !important;
        line-height: 1.1rem !important;
        top: 12rem !important;
        font-size: .8rem !important;
    }

    .about-me {
        width: 90% !important;
        left: 10% !important;
        height: 55% !important;
        flex-direction: row;
        top: 17% !important;
    }

    .about-me img {
        height: 80% !important;
    }

    .technologies {
        left: 10% !important;
        bottom: 6% !important;
    }

    .technologies > a {
        font-size: 1rem !important;
    }

    #astro {
        top: 54% !important;
        left: -50% !important;
        height: 7% !important;
    }

    #animated-ufo {
        top: 57% !important;
        left: 200% !important;
    }

    #planet-2 {
        width: 19% !important;
        top: 77% !important;
        height: 7% !important;
    }

    #planet-3 {
        width: 15% !important;
        top: 67% !important;
        height: 6% !important;
    }

    #planet {
        height: 65% !important;
    }

    #contact-me {
        height: 80vh !important;
    }

    form {
        left: 8% !important;
    }

}

@media (min-width: 751px) and (max-width: 950px) {
    .name {
        width: 90% !important;
        top: 15rem !important;
        font-size: 4.6rem !important;
    }

    .text1 {
        top: 10rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 75% !important;
        line-height: 1.4rem !important;
        top: 23rem !important;
        font-size: .8rem !important;
    }

    nav {
        justify-content: space-between !important;
    }

    footer {
        left: 35% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 1rem !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 3rem !important;
        transform: translate(4rem, 1rem) !important;
    }

    .nav-bar-ul li {
        font-size: 1rem !important;
    }

    .logo {
        padding-left: 5rem !important;
    }

    #home {
        height: 100vh !important;
    }

    #projects {
        height: 220vh !important;
    }

    .para {
        left: 2rem !important;
    }

    .circle {
        height: 12% !important;
        width: 10% !important;
    }

    .social {
        left: 2rem !important;
        width: 17rem !important;
        top: 30rem !important;
        height: 2rem !important;
    }

    .animated-ghost {
        top: 32rem !important;
        height: 10rem !important;
        width: 10rem !important;
    }

    .moon {
        height: 31rem !important;
        width: 30rem !important;
        left: 0 !important;
    }

    #about-me {
        height: 108vh !important;
    }

    #about-me > a {
        font-size: 3rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 25rem !important;
        line-height: 1.1rem !important;
        top: 12rem !important;
        font-size: .8rem !important;
    }

    .about-me {
        width: 90% !important;
        left: 10% !important;
        height: 55% !important;
        flex-direction: row;
        top: 17% !important;
    }

    .about-me img {
        height: 90% !important;
    }

    .technologies {
        left: 10% !important;
        bottom: 6% !important;
    }

    .technologies > a {
        font-size: 1rem !important;
    }

    #astro {
        top: 54% !important;
        left: -50% !important;
        height: 7% !important;
    }

    #animated-ufo {
        top: 57% !important;
        left: 200% !important;
    }

    #planet-2 {
        width: 19% !important;
        top: 77% !important;
        height: 7% !important;
    }

    #planet-3 {
        width: 15% !important;
        top: 67% !important;
        height: 6% !important;
    }

    #planet {
        height: 65% !important;
    }

    #contact-me {
        height: 80vh !important;
    }

    form {
        left: 8% !important;
    }
}

@media (min-width: 951px) and (max-width: 1050px) {
    .name {
        width: 90% !important;
        top: 15rem !important;
        font-size: 5.5rem !important;
    }

    .text1 {
        top: 10rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 75% !important;
        line-height: 1.4rem !important;
        top: 23rem !important;
        font-size: .8rem !important;
    }

    nav {
        justify-content: space-between !important;
    }

    footer {
        left: 35% !important;
    }

    .main-context {


        grid-template-columns: repeat(1, 18rem) !important;
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 1rem !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 3rem !important;
        transform: translate(4rem, 1rem) !important;
    }

    .nav-bar-ul li {
        font-size: 1rem !important;
    }

    .logo {
        padding-left: 5rem !important;
    }

    #home {
        height: 40vh !important;
    }

    #projects {
        height: 220vh !important;
    }

    .para {
        left: 6rem !important;
    }

    .circle {
        height: 4% !important;
        width: 7% !important;
    }

    .social {
        left: 6rem !important;
        width: 22rem !important;
        top: 35rem !important;
        height: 3.5rem !important;
    }

    .animated-ghost {
        top: 32rem !important;
        height: 10rem !important;
        width: 10rem !important;
    }

    .moon {
        top: 5% !important;
        height: 31rem !important;
        width: 30rem !important;
        left: 0 !important;
    }

    #about-me {
        height: 108vh !important;
    }

    #about-me > a {
        font-size: 3rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 25rem !important;
        line-height: 1.5rem !important;
        top: 12rem !important;
        font-size: 1.3rem !important;
    }

    .about-me {
        width: 90% !important;
        left: 10% !important;
        height: 55% !important;
        flex-direction: row;
        top: 17% !important;
    }

    .about-me img {
        height: 90% !important;
    }

    .technologies {
        left: 10% !important;
        bottom: 6% !important;
    }

    .technologies > a {
        font-size: 1rem !important;
    }

    #astro {
        top: 54% !important;
        left: -50% !important;
        height: 7% !important;
    }

    #animated-ufo {
        top: 57% !important;
        left: 200% !important;
    }

    #planet-2 {
        width: 19% !important;
        top: 77% !important;
        height: 4% !important;
    }

    #planet-3 {
        width: 15% !important;
        top: 67% !important;
        height: 3% !important;
    }

    #planet {
        height: 65% !important;
    }

    #contact-me {
        height: 50vh !important;
    }

    form {
        left: 8% !important;
    }
}

@media (min-width: 1050px) and (max-width: 1250px) {

    .name {
        width: 90% !important;
        top: 15rem !important;
        font-size: 6rem !important;
    }

    .text1 {
        top: 10rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 60% !important;
        line-height: 1.4rem !important;
        top: 23rem !important;
        font-size: 1rem !important;
    }

    nav {
        justify-content: space-between !important;
    }

    footer {
        left: 35% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 1rem !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 4rem !important;

        transform: translate(7rem, 1rem) !important;
    }

    .nav-bar-ul li {
        font-size: 1rem !important;
    }

    .logo {
        padding-left: 5rem !important;
    }

    #home {
        height: 100vh !important;
    }

    #projects {
        height: 140vh !important;
    }

    .para {
        left: 7rem !important;
    }

    .circle {
        height: 10% !important;
        width: 6% !important;
    }

    .social {
        left: 8rem !important;
        width: 22rem !important;
        top: 35rem !important;
        height: 3.5rem !important;
    }

    .animated-ghost {
        top: 35rem !important;
        height: 13rem !important;
        width: 13rem !important;
    }

    .moon {
        height: 35rem !important;
        width: 34rem !important;
        left: 0 !important;
    }

    #about-me {
        height: 140vh !important;
    }

    #about-me > a {
        font-size: 4rem !important;
        top: 0 !important;
    }

    .about-me p {
        word-spacing: 0.21rem !important;
        height: 4rem;
        width: 40rem !important;
        line-height: 1.5rem !important;
        top: 12rem !important;
        font-size: 1rem !important;
    }

    .about-me {
        width: 90% !important;
        left: 10% !important;
        height: 55% !important;
        flex-direction: row;
        top: 17% !important;
    }

    .about-me img {
        height: 80% !important;
    }

    .technologies {
        left: 10% !important;
        bottom: 6% !important;
    }

    .technologies > a {
        font-size: 2.5rem !important;
    }

    #astro {
        top: 40% !important;
        left: 0 !important;
        height: 8% !important;
    }

    #animated-ufo {
        top: 45% !important;
        left: 100% !important;
    }

    #planet-2 {
        width: 19% !important;
        top: 65% !important;
        height: 10% !important;
    }

    #planet-3 {
        width: 15% !important;
        top: 50% !important;
        height: 9% !important;
    }

    #planet {
        height: 75% !important;
    }

    #contact-me {
        height: 80vh !important;
    }

    form {
        left: 12% !important;
    }

    #svg {
        display: inline-block !important;
    }


}

.loading-screen {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 99%;
    background: #030918;
    z-index: 100;
    cursor: none;
}

.svg-anime {

    z-index: 101;
    top: 45%;
    left: 45%;
}

.logo {

    position: relative;
    width: 6rem;
    height: 100%;
}

.mouse-loading-text {
    z-index: 101;
    font-family: 'Orbitron', sans-serif;
    animation: blink .9s ease-in-out infinite alternate;
    color: white;
    height: 1rem;
    width: 13rem;
    bottom: 1rem;
    left: 47%;
}

.visible {
    position: fixed;
}

nav {
    justify-content: space-evenly;
    display: flex;
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #030918;
}

.nav-bar-items {
    color: white;
}

.nav-bar {
    transition: opacity .5s;
    padding-right: 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #030918;
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
}

.nav-bar-ul {

    opacity: 1;
    display: flex;
    gap: 3rem;
    list-style: none;

}

.nav-bar-items > a {
    color: white;
    text-decoration: none;
}

.nav-bar-ul > li::before {
    content: "";
    z-index: 10;
    bottom: -10%;
    left: 20%;
    width: 0;
    position: absolute;
    height: .1rem;
    background-color: #ccf033;
    transition: all 1s;
}

.nav-bar-ul > li:hover::before {
    left: -10%;
    color: #ccf033;
    width: 100%;
}

.nav-bar-ul > li {
    padding-right: 1rem;
    position: relative;
    display: inline-block;
}

.logo img {
    filter: brightness(2);
    height: 100%;
    mix-blend-mode: screen;
}

footer {
    font-size: .71rem;
    left: 40%;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.para {
    position: absolute;
    color: white;
    display: none;

}

.text1 {
    animation: show 5s;
    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    font-size: 140%;
    top: 10rem;
}

.text2 {
    animation: show 8s;
    word-spacing: 0.51rem;
    letter-spacing: .01rem;
    font-size: 108%;
    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    width: 48rem;
    line-height: 1.8rem;
    top: 26rem;
}


@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body:has(.name:hover) .para:not(.name) {

    opacity: .2;
}

.name {

    background-color: transparent;
    font-weight: bold;
    animation: show 6s;
    font-size: 6rem;
    left: 14rem;
    top: 16rem;
    width: 70%;
    z-index: 1;
}

span {
    position: relative;
    display: inline-block;
}

.name > .letter:nth-child(8) {
    margin-left: 2%;
}

#H::after {
    content: attr(data-text);
    position: absolute;
    left: 10px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background-color: #141414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 3s infinite linear alternate-reverse;
}

#H::before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background-color: #030918;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 2s infinite linear alternate-reverse;
}

@keyframes animate-glitch {
    0% {
        clip: rect(99px, 9999px, 45px, 0);
    }
    5% {
        clip: rect(7px, 9999px, 49px, 0);
    }
    10% {
        clip: rect(52px, 9999px, 79px, 0);
    }
    15% {
        clip: rect(51px, 9999px, 42px, 0);
    }
    20% {
        clip: rect(37px, 9999px, 43px, 0);
    }
    25% {
        clip: rect(38px, 9999px, 9px, 0);
    }
    30% {
        clip: rect(34px, 9999px, 93px, 0);
    }
    35% {
        clip: rect(18px, 9999px, 84px, 0);
    }
    40% {
        clip: rect(100px, 9999px, 75px, 0);
    }
    45% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    50% {
        clip: rect(14px, 9999px, 10px, 0);
    }
    55% {
        clip: rect(4px, 9999px, 75px, 0);
    }
    60% {
        clip: rect(17px, 9999px, 55px, 0);
    }
    65% {
        clip: rect(75px, 9999px, 57px, 0);
    }
    70% {
        clip: rect(39px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(96px, 9999px, 54px, 0);
    }
    80% {
        clip: rect(45px, 9999px, 25px, 0);
    }
    85% {
        clip: rect(60px, 9999px, 190px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 206px, 0);
    }
    95% {
        clip: rect(49px, 9999px, 357px, 0);
    }
    100% {
        clip: rect(54px, 9999px, 190px, 0);
    }


}

.name:hover > .letter:first-child {
    transform: translate(-108%, -64%) rotate(-12deg) rotate3d(14, 100, 10, 55deg);
    background: ghostwhite;
    border: 1px solid ghostwhite;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px ghostwhite,
    0 0 20px ghostwhite,
    0 0 50px ghostwhite,
    0 0 100px ghostwhite;

}

.name:hover > .letter:nth-child(2) {
    transform: translate(-270%, 219%) rotate(6deg) rotate3d(4, 1, 10, 155deg);
    color: salmon;
    background: salmon;
    border: 1px solid salmon;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px salmon,
    0 0 20px salmon,
    0 0 50px salmon,
    0 0 100px salmon;
}

.name:hover > .letter:nth-child(3) {
    transform: translate(-582%, -199%) rotate(150deg) rotate3d(4, 1, 100, 15deg);
    color: cyan;
    background: cyan;
    border: 1px solid cyan;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px cyan,
    0 0 20px cyan,
    0 0 50px cyan,
    0 0 100px cyan;
}

.name:hover > .letter:nth-child(4) {
    transform: translate(20%, -175%) rotate(105deg) rotate3d(-173, -52, 3, 255deg);
    color: yellow;
    background: transparent;
    border: 1px solid yellow;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 50px yellow, 0 0 100px yellow;
}

.name:hover > .letter:nth-child(5) {
    transform: translate(450%, -164%) rotate(18deg) rotate3d(45, 155, 100, 60deg);
    color: aquamarine;
    background: aquamarine;
    border: 1px solid aquamarine;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px aquamarine,
    0 0 20px aquamarine,
    0 0 50px aquamarine,
    0 0 100px aquamarine;
}

.name:hover > .letter:nth-child(6) {
    transform: translate(-47%, 211%) rotate(-6deg) rotate3d(300, 100, 660, 255deg);
    color: blue;
    background: blue;
    border: 1px solid blue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px blue,
    0 0 20px blue,
    0 0 50px blue,
    0 0 100px blue;
}

.name:hover > .letter:nth-child(7) {
    transform: translate(-450%, 90%) rotate(60deg);
    color: mediumvioletred;
    background: mediumvioletred;
    border: 1px solid mediumvioletred;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px mediumvioletred,
    0 0 20px mediumvioletred,
    0 0 50px mediumvioletred,
    0 0 100px mediumvioletred;
}

.name:hover > .letter:nth-child(8) {
    transform: translate(-190%, 20%) rotate(-48deg) rotate3d(10, 60, 100, 255deg);
    color: red;
    background: red;
    border: 1px solid red;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px red,
    0 0 20px red,
    0 0 50px red,
    0 0 100px red;
}

.name:hover > .letter:nth-child(9) {
    transform: translate(100%, 120%) rotate(31deg) rotate3d(300, 100, 660, 255deg);
    color: rebeccapurple;
    background: rebeccapurple;
    border: 1px solid rebeccapurple;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px rebeccapurple,
    0 0 20px rebeccapurple,
    0 0 50px rebeccapurple,
    0 0 100px rebeccapurple;
}

.name:hover > .letter:nth-child(10) {
    color: greenyellow;
    transform: translate(140%, 10%) rotate(58deg) rotate3d(45, 155, 100, 60deg);
    background: greenyellow;
    border: 1px solid greenyellow;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px greenyellow,
    0 0 20px greenyellow,
    0 0 50px greenyellow,
    0 0 100px greenyellow;
}

.name:hover > .letter:nth-child(11) {
    transform: translate(140%, 260%) rotate3d(45, 155, 100, 40deg);
    color: steelblue;
    background: steelblue;
    border: 1px solid steelblue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px steelblue,
    0 0 20px steelblue,
    0 0 50px steelblue,
    0 0 100px steelblue;
}

.name:hover > .letter:nth-child(12) {
    transform: translate(225%, -160%) rotate3d(45, 155, 10, 180deg);
    color: wheat;
    background: wheat;
    border: 1px solid wheat;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px wheat,
    0 0 20px wheat,
    0 0 50px wheat,
    0 0 100px wheat;

}

.name:hover > .letter:nth-child(13) {
    transform: translate(260%, 120%) rotate3d(14, 10, 10, 55deg);
    color: cadetblue;
    background: cadetblue;
    border: 1px solid cadetblue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px cadetblue,
    0 0 20px cadetblue,
    0 0 50px cadetblue,
    0 0 100px cadetblue;

}

.name > .letter {
    transition: transform 350ms, color 150ms, background-color 100ms ease-out;
}

.name:hover > .letter {

    transition-duration: 900ms;

}

/*:root {
    --bgcolor: #030918;
}*/

#canvas {
    z-index: -1;
    top: 0;
    height: auto;
    overflow: hidden;
    width: 100%;
    filter: blur();
    animation: show 8s;
    position: absolute;

}

.triangle {
    stroke-dasharray: 17;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

.loading {
    font-family: 'Orbitron', sans-serif;
    font-size: 7px;
    animation: blink .9s ease-in-out infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.main-context > div {

    width: 25rem;
    height: 20rem;


}

.main-context > div video {
    border: 1px solid wheat;

    box-shadow: 0 0 5px wheat;

}

.main-context > div:after {
    content: "HOVER ME!";
    color: #ccf033;
    top: 86%;
    text-shadow: 0 0 5px black,
    0 0 10px black,
    0 0 20px #ccf033,
    0 0 40px #ccf033,
    0 0 60px #ccf033;
    position: absolute;
    left: 40%;
}

.main-context > div:hover::after {
    display: none;
}

.main-context {

    top: 21rem;
    display: grid;
    position: absolute;
    width: 80%;
    grid-template-columns: repeat(2, 9rem);
    height: 90%;
    justify-content: space-evenly;

    gap: 3rem;


}

.main-context > div:first-child, .main-context > div:nth-child(4) {
    margin-top: 2rem;
}




.main-context > div:nth-child(5) {
    margin-top: 3rem;
}


.card {
    position: relative;
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.img {
    border-radius: 5%;
    width: 100%;
    height: 85%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    text-align: center;
    height: 80%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox > .text {
    font-weight: bold;
}


.textBox > .head {
    font-size: 20px;
}


.card:hover > .textBox {
    opacity: 1;
}

.card:hover > .img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(-1deg);
}

.moon {
    top: 10%;
    z-index: -1;
    left: 5%;
    position: absolute;
    height: 50rem;
    width: 50rem;
    perspective: 10rem;

}

.moon > img {
    width: 100%;
    height: 90%;
}

#projects {
    overflow: hidden;
    height: 300vh;
    position: relative;
}

#project-txt {
    text-shadow: 0 0 2px black,
    0 0 5px white;
}

#home {

    height: 100vh;
    position: relative;
}

#projects > a {

    transform: translate(13rem, 12rem);
    text-decoration: none;
    color: white;
    position: absolute;
    font-family: "Vina Sans", serif;
    font-size: 6rem;
    font-weight: bold;

}

.social {
    left: 14rem;
    top: 35rem;
    display: flex;
    position: relative;
    width: 21rem;
    height: 3rem;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;


}

.social > ul {
    gap: 3rem;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    flex: 1;
    position: absolute;

}

.social li {

    background-color: #fff;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border-radius: 45%;
    justify-content: center;
    border: 1px solid #fff;
    display: inline-flex;
    transition: 1s;
    position: relative;

}

.social li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.social li img {

    height: 40%;
    width: 40%;

}

.social > ul > li:first-child {
    animation: tilting 2s infinite alternate-reverse;
}

.social > ul > li:nth-child(2) {
    animation: tilting 2s infinite alternate-reverse;
    animation-delay: .5s;
}

.social > ul > li:nth-child(3) {
    animation: tilting 2s infinite alternate-reverse;
    animation-delay: 1s;
}

.social > ul > li:nth-child(4) {
    animation: tilting 2s infinite alternate-reverse;
    animation-delay: 1.5s;
}

.social > ul > li:first-child:hover {

    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
    0 0 20px #008cff,
    0 0 50px #008cff,
    0 0 100px #008cff;
}

.social > ul > li:nth-child(2):hover {

    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);;
    border: 1px solid #f09433;
    text-shadow: 0 0 5px #bc1888,
    0 0 10px #bc1888,
    0 0 20px #bc1888;
    box-shadow: 0 0 5px #cc2366,
    0 0 20px #dc2743,
    0 0 50px #bc1888,
    0 0 100px #e6683c;
}

.social > ul > li:nth-child(3):hover {
    color: #ffffff;
    background: #25D366;
    border: 1px solid #25D366;
    text-shadow: 0 0 5px #25D366,
    0 0 10px #25D366,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px #25D366,
    0 0 20px #25D366,
    0 0 50px #25D366,
    0 0 100px #25D366;
}

.social > ul > li:nth-child(4):hover {
    color: #ffffff;
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    text-shadow: 0 0 5px #D3D3D3,
    0 0 10px #D3D3D3,
    0 0 20px #D3D3D3;
    box-shadow: 0 0 5px #D3D3D3,
    0 0 20px #D3D3D3,
    0 0 50px #D3D3D3,
    0 0 100px #D3D3D3;
}


.textBox > span {
    color: black;
    text-shadow: 0 0 5px #25D366,
    0 0 10px beige,
    0 0 20px #ccf033,
    0 0 40px #ccf033,
    0 0 60px #ccf033;
}

.text {
    color: #ccf033;
    background: black;
}

/*
.main-context > div:nth-child(2) .text {
    color: #ccf033;
    background: black;
}

.main-context > div:nth-child(3) .text {
    color: #ccf033;
    background: black;
}

.main-context > div:nth-child(4) .text {
    color: #ccf033;
    background: black;
}*/


.animated-ghost {
    border: 1px solid black;
    box-shadow: 0 0 5px black,
    0 0 20px black,
    0 0 50px #030918,
    0 0 70px #030918,
    0 0 100px #030918;
    top: 40rem;
    right: 10%;
    position: absolute;
    width: 13rem;
    height: 13rem;
    z-index: 2;
    mix-blend-mode: hard-light;
}

.animated-ghost > img {

    height: 100%;
    width: 100%;
}

.project-about-section {
    overflow: hidden;
    position: relative;
}

#about-me {
    height: 220vh;
    position: relative;
    width: 100%;
}

#about-me > a {
    top: 10rem;
    left: 15%;
    transform: translate(13rem, 12rem);
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black,
    0 0 5px white;
    position: relative;
    font-family: "Vina Sans", serif;
    font-size: 6rem;
    font-weight: bold;
}

.about-me {
    display: flex;
    top: 25%;
    left: 15%;
    width: 80%;
    height: 75%;
    position: absolute;

}

.about-me div {
    flex: 1;
}

.about-me p {

    line-height: 1.7rem;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    color: #ffffff;
}

.about-me img {
    position: absolute;
    height: fit-content;
}

#animated-ufo {
    left: 90%;
    position: absolute;
    top: 44%;
    perspective: 10rem;
}

#animated-ufo > img {
    mix-blend-mode: hard-light;
    height: 100%;
}

#astro {
    mix-blend-mode: hard-light;
    top: 35%;
    position: absolute;
    perspective: 10rem;
    left: 20%;
    width: 10%;
    height: 10%;
}

#astro > img {
    mix-blend-mode: hard-light;
    height: 100%;
}

#galaxy {
    mix-blend-mode: lighten;
    top: 55%;
    position: absolute;
    perspective: 10rem;
    left: 40%;
    width: 40%;
    transform-style: preserve-3d;
    height: 20%;
}

#galaxy > img {
    width: 100%;
    mix-blend-mode: hard-light;
    height: 100%;
}

#planet-2 {

    mix-blend-mode: lighten;
    top: 65%;
    position: absolute;
    perspective: 10rem;
    left: 3%;
    width: 17%;
    transform-style: preserve-3d;
    height: 7%;

}

@keyframes tilting {
    from {
        transform: translateY(1rem) rotate(2deg);
    }
    to {
        transform:  rotate(-5deg) translateY(-1rem);
    }
}

#planet-2 > img {
    width: 100%;
    height: 100%;
}

#planet-3 {
    mix-blend-mode: lighten;
    top: 55%;
    position: absolute;
    perspective: 10rem;
    left: 80%;
    width: 15%;
    transform-style: preserve-3d;
    height: 7%;
    animation: tilting 1s infinite alternate-reverse;

}

#planet-3 > img {
    width: 100%;
    height: 80%;
}

.technologies {
    bottom: 10%;
    width: 70%;
    left: 15%;
    height: 10%;
    position: absolute;
}

.technologies > a {
    font-family: "Vina Sans", serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.technologies-img {
    bottom: 10%;
    position: absolute;
    height: 35%;
    width: 100%;
    display: flex;

}

.technologies-img div {
    animation: tilting 2s infinite alternate-reverse;

    width: 10%;
    position: relative;
    flex: 1;

}

.technologies-img > div img {
    height: 100%;
    background-color: #f6efcf;
    box-shadow: 0 0 5px #D3D3D3,
    0 0 20px #ccf033,
    0 0 50px #D3D3D3,
    0 0 100px #1da4e2;
}

#contact-me {
    position: relative;
    height: 100vh;
}

#planet {
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 90%;
    position: absolute;
    box-shadow: 0 0 5px #030918,
    0 0 20px #030918,
    0 0 50px #030918,
    0 0 100px #030918;
    mix-blend-mode: lighten;

}

#planet > img {
    box-shadow: 0 0 5px #030918,
    0 0 20px #030918,
    0 0 50px #030918,
    0 0 100px #030918;
    width: 100%;
    height: 100%;
}

form {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6%;
    left: 12%;
    margin: 10% auto;

    border-radius: 20px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px #1da4e2,
    0 0 15px #56ccff;
}

form > div {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 20%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 1%;
    text-align: center;
}

form > div > img {
    filter: invert(1);
    width: 40%;
}

form > input,
form > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: #ddd;
    background-color: transparent;
    border-radius: 4px;
    display: block;
    width: 70vw;
}

form > textarea {
    height: 100px;
    resize: none;
}

form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
}

form > input[type="submit"]:hover {
    background-color: rgba(147, 249, 185, 0.73);
}

#svg {
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;

}

svg {
    height: 100%;
    display: none;
    z-index: -1;
}

.circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    z-index: 10;
    height: 10%;
    border: 2px solid white;
    box-shadow: 0 0 5px white,
    inset 0 0 5px white;
    border-radius: 50%;

    pointer-events: none; /* Ensure the circle doesn't interfere with mouse events */

}


#svg {
    display: inline-block;
}
.view-assignment{
    background-color: black;
    -webkit-text-stroke: 0.1px  black;
    color: #ccf033;

    text-decoration: none;
}

.view-assignment:hover{
    text-shadow: 0 0 20px #545bb9,
    0 0 20px#545bb9,
    0 0 20px #545bb9,
    0 0 20px #545bb9;
    color: #a1adff;
}

.link-click{
    background-color: #000;

    color: #ccf033;
}
.link-click:hover{
    text-shadow: 0 0 20px #545bb9,
    0 0 20px#545bb9,
    0 0 20px #545bb9,
    0 0 20px #545bb9;
    color: #a1f4ff;
}