* {
    margin: 0;
}

body {

    background-color: #030918;
}


@media (min-width: 300px) and (max-width: 450px) {
    .name {
        top: 9rem !important;
        font-size: 1.7rem !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 2rem !important;
        transform: translate(2rem, 5rem) !important;
    }

    li {
        font-size: .6rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 60vh !important;
    }

    .para {
        left: 2rem !important;
    }

    .text1 {
        top: 6rem !important;
        font-size: .8rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 11rem !important;
        line-height: 1rem !important;
        top: 12rem !important;
        font-size: .5rem !important;
    }
}

@media (min-width: 451px) and (max-width: 600px) {
    .name {
        top: 11.5rem !important;
        font-size: 2.8rem !important;
    }

    .text1 {
        top: 9rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 90% !important;
        line-height: 1.4rem !important;
        top: 16rem !important;
        font-size: .8rem !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 2rem !important;
        transform: translate(2rem, 5rem) !important;
    }

    .nav-bar-ul li {
        font-size: .9rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 80vh !important;
    }

    .para {
        left: 2rem !important;
    }

}

@media (min-width: 601px) and (max-width: 850px) {
    .name {
        top: 11.5rem !important;
        font-size: 2.8rem !important;
    }

    .text1 {
        top: 9rem !important;
        font-size: 1.3rem !important;
    }

    .text2 {
        word-spacing: 0.21rem !important;
        height: 5rem;
        width: 90% !important;
        line-height: 1.4rem !important;
        top: 16rem !important;
        font-size: .8rem !important;
    }

    footer {
        left: 20% !important;
    }

    .main-context {
        top: 10rem !important;
    }

    .main-context > div {
        height: 15rem !important;
    }

    .nav-bar-ul {
        gap: 0 !important;
        padding-left: 0;

    }

    #projects > a {
        font-size: 2rem !important;
        transform: translate(2rem, 5rem) !important;
    }

    .nav-bar-ul li {
        font-size: .9rem !important;
    }

    .logo {
        padding-left: 0 !important;
    }

    #home {
        height: 80vh !important;
    }

    .para {
        left: 2rem !important;
    }

}


@media (min-width: 1050px) and (max-width: 1250px) {
    .name {
        font-size: 5rem !important;
    }

}

.loading-screen {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 99%;
    background: #030918;
    z-index: 12;
    cursor: none;
}

.svg-anime {

    z-index: 15;
    top: 45%;
    left: 45%;
}

.logo {

    position: relative;
    width: 6rem;
    height: 100%;
}

.mouse-loading-text {
    font-family: 'Orbitron', sans-serif;
    animation: blink .9s ease-in-out infinite alternate;
    color: white;
    height: 1rem;
    width: 13rem;
    bottom: 1rem;
    left: 47%;
}

.visible {
    position: fixed;
}

nav {
    justify-content: space-evenly;
    display: flex;
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #030918;
}

.nav-bar-items {
    color: white;
}

.nav-bar {
    transition: opacity .5s;
    padding-right: 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #030918;
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
}

.nav-bar-ul {

    opacity: 1;
    display: flex;
    gap: 3rem;
    list-style: none;

}

.nav-bar-ul > li {
    padding-right: 1rem;
    position: relative;
    display: inline-block;
}

.logo img {
    filter: brightness(2);
    height: 100%;
    mix-blend-mode: screen;
}

footer {
    font-size: .71rem;
    left: 40%;
    color: white;
    position: fixed;
    bottom: 0;
}

.para {
    position: absolute;
    color: white;
    display: none;

}

.text1 {
    animation: show 5s;
    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    font-size: 140%;
    top: 10rem;
}

.text2 {
    animation: show 8s;
    word-spacing: 0.51rem;
    letter-spacing: .01rem;
    font-size: 108%;
    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    width: 48rem;
    line-height: 1.8rem;
    top: 26rem;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body:has(.name:hover) .para:not(.name) {
    opacity: .2;
}

.name {
    background-color: transparent;
    font-weight: bold;
    animation: show 6s;
    font-size: 6rem;
    left: 14rem;
    top: 16rem;
    width: 70%;
    z-index: 1;
}

span {
    position: relative;
    display: inline-block;
}

.name > .letter:nth-child(8) {
    margin-left: 2%;
}

#H::after {
    content: attr(data-text);
    position: absolute;
    left: 10px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background-color: #141414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 3s infinite linear alternate-reverse;
}

#H::before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background-color: #030918;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 2s infinite linear alternate-reverse;
}

@keyframes animate-glitch {
    0% {
        clip: rect(99px, 9999px, 45px, 0);
    }
    5% {
        clip: rect(7px, 9999px, 49px, 0);
    }
    10% {
        clip: rect(52px, 9999px, 79px, 0);
    }
    15% {
        clip: rect(51px, 9999px, 42px, 0);
    }
    20% {
        clip: rect(37px, 9999px, 43px, 0);
    }
    25% {
        clip: rect(38px, 9999px, 9px, 0);
    }
    30% {
        clip: rect(34px, 9999px, 93px, 0);
    }
    35% {
        clip: rect(18px, 9999px, 84px, 0);
    }
    40% {
        clip: rect(100px, 9999px, 75px, 0);
    }
    45% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    50% {
        clip: rect(14px, 9999px, 10px, 0);
    }
    55% {
        clip: rect(4px, 9999px, 75px, 0);
    }
    60% {
        clip: rect(17px, 9999px, 55px, 0);
    }
    65% {
        clip: rect(75px, 9999px, 57px, 0);
    }
    70% {
        clip: rect(39px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(96px, 9999px, 54px, 0);
    }
    80% {
        clip: rect(45px, 9999px, 25px, 0);
    }
    85% {
        clip: rect(60px, 9999px, 190px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 206px, 0);
    }
    95% {
        clip: rect(49px, 9999px, 357px, 0);
    }
    100% {
        clip: rect(54px, 9999px, 190px, 0);
    }


}

.name:hover > .letter:first-child {
    transform: translate(-108%, -64%) rotate(-12deg) rotate3d(14, 100, 10, 55deg);
    background: ghostwhite;
    border: 1px solid ghostwhite;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px ghostwhite,
    0 0 20px ghostwhite,
    0 0 50px ghostwhite,
    0 0 100px ghostwhite;

}

.name:hover > .letter:nth-child(2) {
    transform: translate(-270%, 219%) rotate(6deg) rotate3d(4, 1, 10, 155deg);
    color: salmon;
    background: salmon;
    border: 1px solid salmon;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px salmon,
    0 0 20px salmon,
    0 0 50px salmon,
    0 0 100px salmon;
}

.name:hover > .letter:nth-child(3) {
    transform: translate(-582%, -199%) rotate(150deg) rotate3d(4, 1, 100, 15deg);
    color: cyan;
    background: cyan;
    border: 1px solid cyan;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px cyan,
    0 0 20px cyan,
    0 0 50px cyan,
    0 0 100px cyan;
}

.name:hover > .letter:nth-child(4) {
    transform: translate(20%, -175%) rotate(105deg) rotate3d(-173, -52, 3, 255deg);
    color: yellow;
    background: transparent;
    border: 1px solid yellow;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 50px yellow, 0 0 100px yellow;
}

.name:hover > .letter:nth-child(5) {
    transform: translate(450%, -164%) rotate(18deg) rotate3d(45, 155, 100, 60deg);
    color: aquamarine;
    background: aquamarine;
    border: 1px solid aquamarine;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px aquamarine,
    0 0 20px aquamarine,
    0 0 50px aquamarine,
    0 0 100px aquamarine;
}

.name:hover > .letter:nth-child(6) {
    transform: translate(-47%, 211%) rotate(-6deg) rotate3d(300, 100, 660, 255deg);
    color: blue;
    background: blue;
    border: 1px solid blue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px blue,
    0 0 20px blue,
    0 0 50px blue,
    0 0 100px blue;
}

.name:hover > .letter:nth-child(7) {
    transform: translate(-450%, 90%) rotate(60deg);
    color: mediumvioletred;
    background: mediumvioletred;
    border: 1px solid mediumvioletred;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px mediumvioletred,
    0 0 20px mediumvioletred,
    0 0 50px mediumvioletred,
    0 0 100px mediumvioletred;
}

.name:hover > .letter:nth-child(8) {
    transform: translate(-190%, 20%) rotate(-48deg) rotate3d(10, 60, 100, 255deg);
    color: red;
    background: red;
    border: 1px solid red;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px red,
    0 0 20px red,
    0 0 50px red,
    0 0 100px red;
}

.name:hover > .letter:nth-child(9) {
    transform: translate(100%, 120%) rotate(31deg) rotate3d(300, 100, 660, 255deg);
    color: rebeccapurple;
    background: rebeccapurple;
    border: 1px solid rebeccapurple;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px rebeccapurple,
    0 0 20px rebeccapurple,
    0 0 50px rebeccapurple,
    0 0 100px rebeccapurple;
}

.name:hover > .letter:nth-child(10) {
    color: greenyellow;
    transform: translate(140%, 10%) rotate(58deg) rotate3d(45, 155, 100, 60deg);
    background: greenyellow;
    border: 1px solid greenyellow;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px greenyellow,
    0 0 20px greenyellow,
    0 0 50px greenyellow,
    0 0 100px greenyellow;
}

.name:hover > .letter:nth-child(11) {
    transform: translate(140%, 260%) rotate3d(45, 155, 100, 40deg);
    color: steelblue;
    background: steelblue;
    border: 1px solid steelblue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px steelblue,
    0 0 20px steelblue,
    0 0 50px steelblue,
    0 0 100px steelblue;
}

.name:hover > .letter:nth-child(12) {
    transform: translate(225%, -160%) rotate3d(45, 155, 10, 180deg);
    color: wheat;
    background: wheat;
    border: 1px solid wheat;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px wheat,
    0 0 20px wheat,
    0 0 50px wheat,
    0 0 100px wheat;

}

.name:hover > .letter:nth-child(13) {
    transform: translate(260%, 120%) rotate3d(14, 10, 10, 55deg);
    color: cadetblue;
    background: cadetblue;
    border: 1px solid cadetblue;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px cadetblue,
    0 0 20px cadetblue,
    0 0 50px cadetblue,
    0 0 100px cadetblue;

}

.name > .letter {
    transition: transform 350ms, color 150ms,background-color 100ms ease-out;
}

.name:hover > .letter {
    transition-duration: 900ms;

}

/*:root {
    --bgcolor: #030918;
}*/

#canvas {
    z-index: -1;
    top: 0;
    height: auto;
    overflow: hidden;
    width: 100%;
    filter: blur();
    animation: show 8s;
    position: absolute;

}

.triangle {
    stroke-dasharray: 17;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

.loading {
    font-family: 'Orbitron', sans-serif;
    font-size: 7px;
    animation: blink .9s ease-in-out infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.main-context > div {

    width: 25rem;
    height: 25rem;
}

.main-context {
    top: 21rem;
    display: flex;
    position: absolute;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    height: 160vh;
    flex-wrap: wrap;
    gap: 2rem;
    left: 10%;
}

.main-context > div:first-child, .main-context > div:nth-child(4) {
    margin-top: 2rem;
}



.main-context > div:first-child .text {
    color: whitesmoke;
}

.main-context > div:nth-child(5) {
    margin-top: 3rem;
}


.card {
    position: relative;
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.img {
    border-radius: 5%;
    width: 100%;
    height: 85%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    text-align: center;
    height: 80%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox > .text {
    font-weight: bold;
}

.textBox > .head {
    font-size: 20px;
}


.card:hover > .textBox {
    opacity: 1;
}

.card:hover > .img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(-1deg);
}

.moon {
    top: 15%;
    z-index: -1;
    left: 11%;
    transform-style: preserve-3d;
    position: absolute;
    height: 8rem;
    width: 8rem;
    perspective: 10rem;
    transform: scale(2) translateZ(-10rem);
}

.moon > img {
    width: 100%;
    height: 90%;
}

#projects {
    overflow: hidden;
    height: 160vh;
    position: relative;
}

#home {

    height: 100vh;
    position: relative;
}

#projects > a {

    transform: translate(12rem, 12rem);
    text-decoration: none;
    color: white;
    position: absolute;
    font-family: "Vina Sans", serif;
    font-size: 6rem;
    font-weight: bold;
}

.social {
    left: 14rem;
    top: 35rem;
    display: flex;
    position: relative;
    width: 21rem;
    height: 3rem;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;


}

.social > ul {
    gap: 3rem;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    flex: 1;
    position: relative;

}

.social li {
    background-color: #fff;
    align-items: center;
    flex: 1;
    cursor: pointer;
    border-radius: 45%;
    justify-content: center;
    border: 1px solid #fff;
    display: inline-flex;
    transition: 1s;
    position: relative;
}

.social li img {

    height: 40%;
    width: 40%;

}

.social>ul>li:first-child:hover,:focus {

    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
    0 0 20px #008cff,
    0 0 50px #008cff,
    0 0 100px #008cff;
}
.social>ul>li:nth-child(2):hover,:focus {

    background:  linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ;
    border: 1px solid #f09433;
    text-shadow: 0 0 5px #bc1888,
    0 0 10px #bc1888,
    0 0 20px #bc1888;
    box-shadow: 0 0 5px #cc2366,
    0 0 20px #dc2743,
    0 0 50px #bc1888,
    0 0 100px #e6683c;
}
.social>ul>li:nth-child(3):hover,:focus {
    color: #ffffff;
    background: #25D366;
    border: 1px solid #25D366;
    text-shadow: 0 0 5px #25D366,
    0 0 10px #25D366,
    0 0 20px #ffffff;
    box-shadow: 0 0 5px #25D366,
    0 0 20px #25D366,
    0 0 50px #25D366,
    0 0 100px #25D366;
}
.social>ul>li:nth-child(4):hover,:focus {
    color: #ffffff;
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    text-shadow: 0 0 5px #D3D3D3,
    0 0 10px #D3D3D3,
    0 0 20px #D3D3D3;
    box-shadow: 0 0 5px #D3D3D3,
    0 0 20px #D3D3D3,
    0 0 50px #D3D3D3,
    0 0 100px #D3D3D3;
}

.main-context > div:first-child span{
    background: rgba(0, 0, 0, 0.62);
    color: white;
}
.main-context > div:first-child .text {
    color: #ccf033;
    background: black;
}
.main-context > div:nth-child(2) span{
    background: rgba(255, 255, 255, 0.62);
    color: black;
}
.main-context > div:nth-child(2) .text {
    color: #ccf033;
    background: black;
}
