* {
    margin: 0;
}

body {
    height: 95vh;
    background-color: #030918;
}

.logo {
    left: 2rem;
    top: 0;
    position: absolute;
    width: 6rem;
    height: 6rem;
}

.logo img {
    filter: brightness(2);
    height: 100%;
    mix-blend-mode: screen;
}

footer {
    font-size: .71rem;
    left: 40%;
    color: white;
    position: absolute;
    bottom: 0;
}

.menu {
    width: 3rem;
    z-index: 20;
    height: 3rem;
    top: 1.5rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    position: absolute;
}

/*
.line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/

/*
.line1 {
    stroke-dasharray: 60 207;
    !*stroke-width: 6;*!
}

.line2 {
    stroke-dasharray: 60 60;
    !*stroke-width: 6;*!
}

.line3 {
    stroke-dasharray: 60 204;
    !*stroke-width: 6;*!
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    !*stroke-width: 6;*!
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    !*stroke-width: 6;*!
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    !*stroke-width: 6;*!
}
*/

.para {
    position: absolute;
    color: white;
    display: inline;
}

.text1 {
    animation: show 5s;

    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    font-size: 140%;
    top: 10rem;
}

.text2 {
    animation: show 8s;
    word-spacing: 0.51rem;
    letter-spacing: .01rem;
    font-size: 108%;
    font-family: 'Rosaro', sans-serif;
    left: 14rem;
    width: 48rem;
    line-height: 1.8rem;
    top: 26rem;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body:has(.name:hover) .para:not(.name) {
    opacity: .2;
}

.name {
    font-weight: bold;
    animation: show 10s;
    font-size: 6rem;
    left: 14rem;
    top: 16rem;
    width: 82%;
}

span {
    position: relative;
    display: inline-block;
}

.name > .letter:nth-child(8) {
    margin-left: 2%;
}

#H::after {
    content: attr(data-text);
    position: absolute;
    left: 10px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background-color: #141414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 3s infinite linear alternate-reverse;
}

#H::before {
    content: attr(data-text);
    position: absolute;
    left: -1px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background-color: #030918;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 2s infinite linear alternate-reverse;
}

@keyframes animate-glitch {
    0% {
        clip: rect(99px, 9999px, 45px, 0);
    }
    5% {
        clip: rect(7px, 9999px, 49px, 0);
    }
    10% {
        clip: rect(52px, 9999px, 79px, 0);
    }
    15% {
        clip: rect(51px, 9999px, 42px, 0);
    }
    20% {
        clip: rect(37px, 9999px, 43px, 0);
    }
    25% {
        clip: rect(38px, 9999px, 9px, 0);
    }
    30% {
        clip: rect(34px, 9999px, 93px, 0);
    }
    35% {
        clip: rect(18px, 9999px, 84px, 0);
    }
    40% {
        clip: rect(100px, 9999px, 75px, 0);
    }
    45% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    50% {
        clip: rect(14px, 9999px, 10px, 0);
    }
    55% {
        clip: rect(4px, 9999px, 75px, 0);
    }
    60% {
        clip: rect(17px, 9999px, 55px, 0);
    }
    65% {
        clip: rect(75px, 9999px, 57px, 0);
    }
    70% {
        clip: rect(39px, 9999px, 84px, 0);
    }
    75% {
        clip: rect(96px, 9999px, 54px, 0);
    }
    80% {
        clip: rect(45px, 9999px, 25px, 0);
    }
    85% {
        clip: rect(60px, 9999px, 190px, 0);
    }
    90% {
        clip: rect(5px, 9999px, 206px, 0);
    }
    95% {
        clip: rect(49px, 9999px, 357px, 0);
    }
    100% {
        clip: rect(54px, 9999px, 190px, 0);
    }


}

.name:hover > .letter:first-child {
    transform: translate(-108%, -64%) rotate(-12deg) rotate3d(14, 100, 10, 55deg);

}

.name:hover > .letter:nth-child(2) {
    transform: translate(-70%, 9%) rotate(6deg) rotate3d(4, 1, 10, 155deg);
    color: salmon;
}

.name:hover > .letter:nth-child(3) {
    transform: translate(-82%, -199%) rotate(150deg) rotate3d(4, 1, 100, 15deg);
    color: cyan;
}

.name:hover > .letter:nth-child(4) {
    transform: translate(-76%, -75%) rotate(85deg) rotate3d(104, 100, 10, 255deg);
    color: yellow;
}

.name:hover > .letter:nth-child(5) {
    transform: translate(150%, -164%) rotate(18deg) rotate3d(45, 155, 100, 60deg);
    color: aquamarine;
}

.name:hover > .letter:nth-child(6) {
    transform: translate(-47%, 211%) rotate(-6deg) rotate3d(300, 100, 660, 255deg);
    color: blue;
}

.name:hover > .letter:nth-child(7) {
    transform: translate(-150%, 45%) rotate(60deg);
    color: mediumvioletred;
}

.name:hover > .letter:nth-child(8) {
    transform: translate(-100%, 97%) rotate(-48deg) rotate3d(10, 60, 100, 255deg);
    color: red;
}

.name:hover > .letter:nth-child(9) {
    transform: translate(-60%, -45%) rotate(31deg) rotate3d(300, 100, 660, 255deg);
    color: rebeccapurple;
}

.name:hover > .letter:nth-child(10) {
    color: greenyellow;
    transform: translate(-60%, -210%) rotate(58deg) rotate3d(45, 155, 100, 60deg)  ;

}

.name:hover > .letter:nth-child(11) {
    transform: translate(-60%, 60%) rotate3d(45, 155, 100, 40deg);
    color: steelblue;
}

.name:hover > .letter:nth-child(12) {
    transform: translate(-61%, -105%) rotate3d(45, 155, 10, 180deg);
    color: wheat;

}

.name:hover > .letter:nth-child(13) {
    transform: translate(60%, -8%) rotate3d(14, 10, 10, 55deg);
    color: cadetblue;

}

.name > .letter {
    transition:  transform 350ms,color 150ms ease-out ;
}

.name:hover > .letter {
    transition-duration: 900ms;

}

.menu span {
    transform: translate(-50%, -50%);
    position: absolute;
    height: .1rem;
    width: 2.3rem;
    background: black;
    transition: transform .5s ease-in-out;
}

.menu span:first-child {
    top: 30%;
}

.menu span:nth-child(2) {
    top: 50%;
}

.menu span:nth-child(3) {
    top: 70%;
}

.menu.active span:first-child {

    transform: rotate(45deg);
}

.menu.active span:nth-child(2) {

    transform: rotate(-45deg);

}

.menu.active span:nth-child(3) {

    transform: rotate(-45deg);
}
.menu.active span{
    right: 6%;
    top: 36%;
    background: #2cbac7;
    transition: color .8s,transform .5s ease-in;
}
a{
    text-decoration: none;
}
.burger-menu {
    clip-path: circle(2rem at calc(100% - 3.5rem)2rem);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    position: absolute;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.burger-menu.active {
    width: 100%;
    height: 100%;

    background-color: #030918;
    clip-path: circle(75%);
}
.burger-menu.active ul{
    transform: translateY(-.2rem);
    opacity: 1;
    transition: transform 1.5s,opacity 3s ease-in;

}

ul {
    opacity: 0;
    list-style: none;
}

h1 {
    color: ghostwhite;
    margin: 4rem;
    font-size: 5rem;
    position: relative;
    text-transform: uppercase;

    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
}

h1:hover {
    transform: skew(10deg) translateY(-1rem);
}

h1::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: var(--bgcolor);
    height: 55%;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
}

h1:hover::before {
    top: -3px;
    left: 0px;
    color: #2cbac7;
}

h1::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2cbac7;
    transition: all 300ms ease;
}

:root {
    --bgcolor: #030918;
}

h1:hover::after {
    width: 120%;
    outline: 5px solid rgb(2, 0, 36);
}

@keyframes round {
    0% {
        border-width: 0;
        background-color: #fff;
    }
    40% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left: -1500px;
        border-color: #b2d2cf;
    }
    41% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left: -1500px;
        border-color: #228282;
    }
    100% {
        border-width: 1500px;
        height: 100%;
        width: 100%;
        margin-top: -2500px;
        margin-left: -2500px;
        border-color: #011c19;
        background-color: #030918;
    }
}

#menu-icon:hover {
    cursor: pointer;
}

